/* Untuk Tablet */
@media all and (max-width: 768px){
    body{
        background-image: linear-gradient(to top right, #99C4C8, #2C3639);
        font-family: sans-serif;
    }
    .container{
        margin: 20px 20px 0 20px;
        padding: 0;
        box-sizing: border-box;
        outline: 0;
        transition: all 0.5s ease;
    }
    button{
        height: 50px;
        width: 50px;
        border: 0;
        border-radius: 15px;
        color: #2C3639;
        font-size: 20px;
        cursor: pointer;
        transition: all 100ms ease;
        background: #FFF;
        box-shadow: 0 0 10px #2C3639;
    }
    button#equal{
        height: 115px;
        background: #2C3639;
        color: #FFF;
        box-shadow: 0 0 10px #2C3639;
    }
    button.operator{
        background: #2C3639;
        color: #FFF;
        box-shadow: 0 0 10px #2C3639;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 600px){
    body{
        background: #78938A;
        font-family: sans-serif; 
    }
    .container{
        margin: 20px 20px 0 20px;
        height: 50px;
        width: 50px;
        place-items: center;
    }
    button{
        height: 40px;
        width: 40px;
        border: 0;
        border-radius: 10px;
        background: #F9F9F9;
        color: #3F4E4F;
        font-size: 15px;
        cursor: pointer;
        transition: all 100ms ease;
        box-shadow: 0 0 10px #3F4E4F;
    }
    button#equal{
        height: 100px;
        background: #3F4E4F;
        color: #fff;
    }
    button.operator{
        background: #3F4E4F;
        color: #FFF;
    }
}